@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body{
    background-color: rgb(95, 95, 95);
}

h1{
    font-family: 'Bungee', cursive;
    color: rgb(69, 2, 107);
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 195, 255);
}

.button {
    background-color:  rgb(162, 0, 255) ;
    border: 2px solid rgb(0, 195, 255);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
}

#mainDiv{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid rgb(0, 195, 255);
}

#app{
    text-align: center;
}

#matchFound{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    width:300px;
    text-align: center;
    margin: auto;
}

#status{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
    margin: auto;
}